
<div class="container">
    <form name="resourceForm" novalidate  class="form-horizontal" role="form" style="width:98%" >

        <label class="col-sm-12">Add new product:</label>
        <div class="form-group">
        <label class="num control-label col-sm-2">Product Name:</label>
            <div class="col-sm-10">
                 <input type="text"  placeholder="name here plz" ng-model="new.name"

                   class="sel1 form-control"
                   name="num2"
                   required
                   />
      
        </div>
    </div>

   
        <div class="form-group">
            <label class="desig control-label col-sm-2">Select Category:</label>

            <div class="col-sm-10">
                    <select class="sel form-control" ng-model="new.category">
                        <option></option>
                        <option>Laptop</option>
                        <option>Mobile</option>
                        <option>Sun glasses</option>
                        <option>book</option>
                    </select>

            </div>
        </div>

 <div class="form-group">
        <label class="num control-label col-sm-2">Price:</label>
            <div class="col-sm-10">
                 <input type="text"  placeholder="price here plz" ng-model="new.price"

                   class="sel1 form-control"
                   name="num2"
                   required
                   />
      
        </div>
    </div>
 <div class="form-group">
        <label class="num control-label col-sm-2">Brand Name:</label>
            <div class="col-sm-10">
                 <input type="text"  placeholder=" Brand name here plz" ng-model="new.brand"

                   class="sel1 form-control"
                   name="num2"
                   required
                   />
      
        </div>
    </div>
     <div class="form-group">
        <label class="num control-label col-sm-2">Description:</label>
            <div class="col-sm-10">
                 <input type="text"  placeholder="Description here plz" ng-model="new.description"

                   class="sel1 form-control"
                   name="num2"
                   required
                   />
      
        </div>
    </div>
     <div class="form-group">
        <label class="num control-label col-sm-2">Launch Date:</label>
            <div class="col-sm-10">
                 <input type="text"  placeholder="Date here plz" ng-model="new.launch"
                   class="sel1 form-control"
                   name="num2"
                   required
                   />
      
        </div>
    </div>

       <!-- <input type="button" value="Save" class="save" ng-click="save()" ng-show="!uFlag"/>-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="save()" ng-show="!uFlag">Save</button>
                   <button type="submit" class="btn btn-default" ng-click="cancle()" ng-show="!uFlag">cancle</button>
            </div>
        </div>


 <!--  <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default"  ng-show="!uFlag">cancle</button>
            </div>
        </div> -->
       <!-- <input type="button" value="Update" class="save" ng-click="update()" ng-show="uFlag"/>-->

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="update()" ng-show="uFlag"/>Update</button>
            </div>
        </div>

    </form>

    <!--***************************RESOURCE TABLE ***********************************-->

    <label class="req">Request List</label>
      <div class="table-responsive" style="width:98%">
    <table class="table col-sm-10">
      
        <tr class="th">
            <thead>
            <td class="th">Request Id</td>
            <td class="th desg">Product Name</td>
            <td class="thNo">Select Category</td>
            <td class="th">Price</td>
            <td class="th">Brand Name</td>
            <td class="th">Description</td>
             <td class="th">Launch date</td>
            <td class="thEdit">Edit</td>
            </thead>
        </tr>
        <tr class="entries " ng-repeat="reqdet in reqDetails track by $index">
            <td class="bold">{{reqdet.reqid}}</td><td>{{reqdet.name}}</td>
          <td>{{reqdet.category}}</td> <td>{{reqdet.price}}</td>
            <td>{{reqdet.brand}}</td><td>{{reqdet.description}}</td><td>{{reqdet.launch | date : format : timezone}}</td><td ng-click="edit(reqdet.reqid)" style="cursor:pointer"/>edit</td>

        </tr>
    </table>
</div>
<!--</div>-->
    <div >
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Back</button>
        </div>
    </div>

    </div>