
	<h4 style="color:white">Product:->{{name}} </h4>
  <div class="mobile">
      <div class="form-group">
          <label class="desig control-label col-sm-3">SHowing Detials About:</label>{{reqdet.name}}
      </div>
  	


           <button  class="mobright btn btn-default" style="margin-top:-30px;" ng-click="edit(reqdet.reqid)">Edit Info</button>
      <div class="form-group">
          <label class="desig control-label col-sm-3">Description:</label>{{reqdet.description}}
          </div>
      <div class="form-group">
          <label class="desig control-label col-sm-3">Category:</label>{{reqdet.category}}
      </div>
      <div class="form-group">
          <label class="desig control-label col-sm-3">Price:</label>{{reqdet.price}}
      </div>
      <div class="form-group">
          <label class="desig control-label col-sm-3">Brand:</label>{{reqdet.brand}}
      </div>
      <div class="form-group">
          <label class="desig control-label col-sm-3">Launcg Date:</label>{{reqdet.launch}}
      </div>


    </div>


        <div class="opa " ng-show="uFlag">
        <form name="resourceForm" novalidate  class="form-horizontal top" role="form" ng-show="uFlag">

        <label class="col-sm-12">Update product:</label>
        <div class="form-group">
        <label class="num control-label col-sm-2">Product Name:</label>
            <div class="col-sm-10">
                 <input type="text"  placeholder="name here plz" ng-model="new.name"

                   class="sel1 form-control"
                   name="num2"
                   required
                   />
      
        </div>
    </div>

   
        <div class="form-group">
            <label class="desig control-label col-sm-2">Category:</label>

            <div class="col-sm-10">
                    <select class="sel form-control" ng-model="new.category">
                        <option></option>
                        <option>Laptop</option>
                        <option>Mobile</option>
                        <option>Sun glasses</option>
                        <option>book</option>
                    </select>

            </div>
        </div>

 <div class="form-group">
        <label class="num control-label col-sm-2">Price:</label>
            <div class="col-sm-10">
                 <input type="text"  placeholder="price here plz" ng-model="new.price"

                   class="sel1 form-control"
                   name="num2"
                   required
                   />
      
        </div>
    </div>
 <div class="form-group">
        <label class="num control-label col-sm-2">Brand Name:</label>
            <div class="col-sm-10">
                 <input type="text"  placeholder=" Brand name here plz" ng-model="new.brand"

                   class="sel1 form-control"
                   name="num2"
                   required
                   />
      
        </div>
    </div>
     <div class="form-group">
        <label class="num control-label col-sm-2">Description:</label>
            <div class="col-sm-10">
                 <input type="text"  placeholder="Description here plz" ng-model="new.description"

                   class="sel1 form-control"
                   name="num2"
                   required
                   />
      
        </div>
    </div>
     <div class="form-group">
        <label class="num control-label col-sm-2">Launch Date:</label>
            <div class="col-sm-10">
                 <input type="text"  placeholder="Date here plz" ng-model="new.launch"

                   class="sel1 form-control"
                   name="num2"
                   required
                   />
      
        </div>
    </div>

       <!-- <input type="button" value="Save" class="save" ng-click="save()" ng-show="!uFlag"/>-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="save()" ng-show="!uFlag">Save</button>
                   <button type="submit" class="btn btn-default"  ng-show="!uFlag">cancle</button>
            </div>
        </div>


 <!--  <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default"  ng-show="!uFlag">cancle</button>
            </div>
        </div> -->
       <!-- <input type="button" value="Update" class="save" ng-click="update()" ng-show="uFlag"/>-->

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="update()" ng-show="uFlag"/>Update</button>
            </div>
        </div>

    </form>
</div>





